---
import './_profile_photo.scss'
---

<button type="button" class="profile__photo">
    <svg
      id="profile-svg"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 279 279"
    >
      <path d="m 10 140 a 1 1 0 0 1 260 0 a 1 1 0 0 1 -260 0" />
    </svg>
  </button>