---
import './Hero.scss';
---
<section class="hero">
    <span class="hero__description">
    <h1 class="hero__h1">Welcome to my FE portfolio!</h1>
    <p>Are you looking for a skilled and creative frontend developer to bring your digital projects to life? Please take a moment to browse through my portfolio, where you'll find a collection of demo projects that showcase my versatility and attention to detail.
    </p>
    </span>
    <img class="hero__img" src="/assets/landing/hero_2.png" />
</section>