.hero {
  overflow: hidden;
  padding-block: 2rem;
  max-width: 70rem;
  position: relative;
  display: grid;
  grid-template-columns: 1rem 1fr 1fr 1rem;
  grid-template-areas: '. description description .';
  row-gap: 1rem;
  align-items: center;
  justify-content: center;
  justify-items: center;
  color: var(--clr-font-primary);
  color: var(--clr-font-secondary);
  margin-inline: auto;
  // border-radius: 1rem;
}

.hero__h1 {
  line-height: 1.25;
  margin-bottom: 0.5rem;
}

.hero::after {
  content: '';
  position: absolute;
  z-index: -1;
  inset: 0;
  width: 100%;
  // background-image: linear-gradient(43deg, #445299 0%, #ffcc70 100%);
  background-color: var(--clr-bg-secondary);
  transform: skewY(-2.5deg);
  // border-radius: 1rem;
}

.hero__description {
  grid-area: description;
  height: min-content;
}
.hero__img {
  display: none;
  grid-area: heroImg;
  max-width: 18rem;
}

@media (min-width: 64rem) {
  .hero {
    grid-template-columns: 2rem 1fr 1fr 2rem;
    grid-template-areas: '. description heroImg .';
    column-gap: 2rem;
    row-gap: 0;
  }
  .hero__description {
    max-width: min(40vw, 40rem);
    justify-self: end;
  }
  .hero__img {
    display: block;
    justify-self: center;
  }
}
