---

---
<header class='theme'>
    <button type="button" class="theme__button">
        <span class="theme__rectangle" />
        <span class="theme__circle" />
    </button>
</header>

<script>
    const themeButton = document.querySelector('.theme__button');
    const root = document.querySelector(":root");
    themeButton?.addEventListener('click', () => {
        const theme = document.querySelector('.theme');
        theme?.classList.toggle('theme--switch');
        root?.classList.toggle('dark');
        
    })
</script>

<style is:global>

:root {
    --clr-bg-primary: white;
    --clr-font-primary: black;
	--clr-bg-secondary: black;
	--clr-font-secondary: white;
}

.dark {
    --clr-bg-primary: black;
    --clr-font-primary: white;
	--clr-bg-secondary: white;
	--clr-font-secondary: black;
}

.theme {
    margin: 1rem;
    position: relative;           
    width: 3rem;
    height: 3rem;
}

/* rectangle */
.theme::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 50%;
    top: 50%;
    left:0;
    transform: translateY(-50%);
    border-radius: 1rem;
    border: 6px solid var(--clr-font-primary);
    z-index: 100;
}

/* circle */
.theme::before {
    position: absolute;
    content: '';
    width: 70%;
    height: 70%;
    top: 50%;
    left:0;
    transform: translateY(-50%);
    background-color: var(--clr-font-primary);
    border: 6px solid var(--clr-bg-primary);
    border-radius: 50%;
    z-index: 200;
    transition: 500ms;
}

.theme--switch::before {
    transform: translateX(50%) translateY(-50%);
}

.theme__button {
    background: none;
    border: none;
    position: absolute;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    z-index: 300;
}
</style>
  