:root {
  --clr-primary-font: hsl(0, 0%, 0%);
  --clr-darker-blue: hsl(208, 52%, 20%);
  --clr-dark-blue: hsl(208, 52%, 30%);
  --clr-accent: hsl(45, 84%, 49%);
  --clr-header-bar-background: hsl(208, 12%, 70%);
  --clr-sidebar-background: hsl(208, 12%, 80%);
  --clr-frontend-background: var(--clr-header-bar-background);
}
