/* Portfolio page styling */

.portfolio {
  background-color: orange;
  background-color: rgba(0, 0, 0, 0.1);
}

.portfolio__header {
  margin-block: 2rem;
}

.portfolio {
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-block: 3rem;
  justify-content: space-around;
  align-items: center;
  row-gap: 2rem;
  column-gap: 2rem;
}

.grid__item {
  position: relative;
  display: inline-block;
  padding: 0;
  border: none;
  border-radius: 0.5rem;
  color: var(--clr-dark-blue);
  box-shadow: -0.5rem -0.5rem 1rem 0.5rem rgba(0, 0, 0, 0.25);
}

.grid__item_clip {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}

.grid__item__img {
  cursor: pointer;
  display: block;
  width: 350px;
  max-width: calc(100vw - 2rem);
  aspect-ratio: 780 / 1034;
  border-radius: 0.5rem;
  filter: brightness(1);
  transform: scale(1);
  transition: 200ms ease-in;
}

.grid__item__h2 {
  position: absolute;
  font-size: 2.5rem;
  bottom: 0.5rem;
  padding: 0.5rem;
  left: 1rem;
  border-top-right-radius: 1rem;
  box-shadow: 0rem 0rem 2rem 2.5rem rgba(254, 254, 254, 0.8);
  background-color: rgba(254, 254, 254, 0.8);
  user-select: none;
}

:is(.grid__item:hover, .grid__item:focus) .grid__item__img {
  filter: brightness(0.6) blur(3);
  transform: scale(1.1);
}

:is(.grid__item:hover, .grid__item:focus) .grid__item__live_site,
:is(.grid__item:hover, .grid__item:focus) .grid__item__repository {
  transform: translateX(-50%) scale(1);
}

.grid__item__live_site,
.grid__item__repository {
  position: absolute;
  font-size: 1.7rem;
  border-radius: 4rem;
  padding-inline: 2rem;
  padding-top: 0.3rem;
  letter-spacing: +0.1rem;
  font-family: var(--fnt-header);
  width: 180px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%) scale(0);
  background-color: hsla(0, 0%, 90%, 0.9);
  transition: transform 300ms ease-in-out;
  border: 1px solid var(--clr-dark-blue);
  box-shadow: -0.5rem -0.5rem 1rem 0.5rem rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
}

:is(.grid__item__live_site, .grid__item__repository):hover {
  transform: translateX(-50%) scale(1.5);
  background-color: var(--clr-accent);
}

.grid__item__live_site {
  top: 30%;
}

.grid__item__repository {
  top: 55%;
}
