/* define baseline attributes of the page */
.body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 16px;
  font-family: var(--fnt-primary);
  max-width: var(--width-body);
  margin: 0 auto;
  overflow-x: hidden;
  color: var(--clr-primary-font);
}

.name-text-color {
  color: var(--clr-accent);
  text-shadow: 0.05em 0.05em var(--clr-darker-blue);
}

.profile__section .h2 {
  position: relative;
  margin-bottom: 0.5rem;
}

/* underline for headers h2 */
.profile__section .h2::after {
  position: absolute;
  top: 1.3em;
  left: 0;
  content: '';
  width: 3em;
  height: 0.2em;
  border-radius: 1em;
  background-color: var(--clr-accent);
}

.profile__cv_grid {
  display: grid;
  row-gap: 0.5rem;
}

/* force table to use all available space */
table {
  width: 100%;
}

table th {
  vertical-align: top;
  text-align: left;
  padding-right: 0.5em;
  font-weight: bold;
}

.profile__experience table th {
  width: 115px;
}

.profile__section {
  padding: 0.5rem;
}

.profile__experience__header_flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.profile__footer {
  font-size: 0.8rem;
  font-style: italic;
  padding: 0.5rem;
}

.profile__experience__container,
.profile__sidebar__container {
  display: grid;
  row-gap: 1rem;
  align-items: start;
  align-content: flex-start;
}

.profile__sidebar_background {
  position: fixed;
  inset: 0 0 0 0;
  background-color: var(--clr-sidebar-background);
  z-index: -100;
  height: 100vh;
  width: calc(350px + (100vw - var(--width-body)) / 2);
}

/*--------------------------- */
/* RESPONSIVE specific stuff  */
/*--------------------------- */

.profile__cv_grid {
  grid-template:
    'sidebar profile-summary'
    'sidebar skills'
    'sidebar experience';
  grid-template-columns: var(--width-sidebar) 1fr;
  column-gap: 1rem;
}

.profile__experience__container {
  grid-area: experience;
}

.profile__sidebar__container {
  grid-area: sidebar;
}

.profile__summary {
  grid-area: profile-summary;
}

@media screen and (min-width: 60.001rem) {
  .profile__footer {
    margin-top: 2rem;
    margin-left: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 60.001rem) {
  /* shift page elements into new slots */
  .profile__cv_grid {
    grid-template:
      'profile-summary'
      'sidebar'
      'experience';
    grid-template-columns: 1fr;
    column-gap: 0;
  }

  /* make sidebar background visible */
  :root {
    --clr-sidebar-background: transparent;
  }

  .center_on_mobile {
    margin: 0 auto;
    text-align: center;
  }

  .profile__body .h1 {
    margin-top: 2rem;
    margin-inline: 2.5rem;
  }

  .profile__body .h2 {
    text-align: center;
  }

  /* center headers's underline */
  .profile__cv_grid .h2::after {
    left: calc(50% - 1.5em);
  }
}

/*
    for smaller screens
  */
@media screen and (max-width: 22rem) {
  .profile__body {
    min-width: 320px;
    overflow: auto;
  }

  :root {
    --width-photo-border: 12px;
    --width-photo: 220px;
  }
}
