---
import './navigation.scss';
---

<nav class="nav moving_gradient">
    <ul class="ul_style_inside">
      <li data-title="Home Page">
        <a href="/" class="nav__link_active"
          ><img src="/assets/nav/home.svg" alt="home page"
        /></a>
      </li>
      <li data-title="Portfolio Page">
        <a href="/portfolio" target="_self"
          ><img src="/assets/nav/portfolio.svg" alt="portfolio page"
        /></a>
      </li>
      <li data-title="Download PDF">
        <a href="/pdf/artur.jedrzejczak.pdf" download
          ><img src="/assets/nav/download.svg" alt="download"
        /></a>
      </li>
    </ul>
  </nav>