---
interface Props {
    url: string,
    text: string,
}
const { url, text } = Astro.props;
---         
<a class="btn-grad" href={url} target="_blank">{text}</a>
       
       
<style>
.btn-grad {    
    background-image: linear-gradient(to right, hsl(203, 27%, 46%) 0%, #26a0da  51%, hsl(203, 27%, 46%)  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 40rem;
    display: block;
    width: max-content;
}  
.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
</style>