.carousel {
  background-color: #eaeaea;
  display: flex;
  overflow: hidden;
  text-align: center;
  width: 500px;
  aspect-ratio: 1;
}
.carousel__item {
  position: relative;
}
.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 3rem;
}
.carousel__next-button {
  right: 2rem;
}
:is(.carousel__button):active + .carousel__item {
  border: 8px solid black;
  transform: scale(2);
}
/* :is(.carousel__next-button:hover) .carousel__item {
    border: 8px solid black;
    transform: scale(1.5);
} */
/* ::has(.carousel__next-button:hover) .carousel__item {
    border: 8px solid black;
} */
.carousel__prev-button {
  left: 2rem;
}
