/* ------------------ */
/* Reduced motion */
/* ------------------ */

@media (prefers-reduced-motion: reduce) {
  .frontend::after,
  .profile-photo svg:hover {
    animation: none !important;
  }
}

/* --------------- */
/* Links animation */
/* --------------- */

a {
  width: max-content;
  position: relative;
  transition: 100ms ease-out;
}

a:hover {
  transform: scaleX(1.05);
}

a::after {
  position: absolute;
  top: 1.8rem;
  left: 3.1rem;
  content: '';
  width: 75%;
  height: 1px;
  background-color: var(--clr-primary-font);
  transform: scaleX(0);
  transform-origin: left;
  transition: 300ms ease-out;
}

a:hover::after {
  transform: scaleX(1);
}

/* --------------------------- */
/* FRONTED DEVELOPER animation */
/* --------------------------- */

.frontend {
  position: relative;
  width: max-content;
}

/* needed to align typing animation */
.frontend-space {
  display: inline-block;
  width: 0.45em;
}

.frontend::after {
  position: absolute;
  content: '';
  width: 11.5em;
  height: 100%;
  background-color: var(--clr-frontend-background);
  inset: 0 0 0 0;
  transform: scaleX(0);
}

@media screen and (max-width: 950px) {
  .frontend::after {
    --clr-frontend-background: white;
  }
}

/* animate based on intersection observer */
.frontend.animate::after {
  animation: typewriter 3s steps(20, start);
  animation-iteration-count: 1;
  animation-delay: 750ms;
}

@keyframes typewriter {
  to {
    transform-origin: right;
    transform: scaleX(0);
  }
  from {
    transform: scaleX(1);
    transform-origin: right;
  }
}

/* --------------------------------------- */
/* animate svg on hover over profile photo */
/* --------------------------------------- */

.profile-photo svg.animate {
  animation: dash 2s ease-in-out 0ms 1 forwards;
}

@keyframes dash {
  0% {
    stroke-dasharray: 100 50;
  }
  75% {
    stroke-dasharray: 40 calc(3.14 * 240 + 1px);
  }
  100% {
    rotate: 180deg;
    stroke-dasharray: calc(3.14 * 240 * 0.9) 1000;
  }
}
