@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');
@import url(reset.css);

:root {
  --clr-primary-font: hsl(0, 0%, 0%);
  --clr-darker-blue: hsl(208, 52%, 20%);
  --clr-dark-blue: hsl(208, 52%, 30%);
  --clr-accent: hsl(45, 84%, 49%);
  --clr-header-bar-background: hsl(208, 52%, 70%);
  --clr-sidebar-background: hsl(208, 52%, 80%);
  --clr-frontend-background: var(--clr-header-bar-background);
  --fnt-primary: 'Roboto', sans-serif;
  --fnt-header: 'Teko', sans-serif;
  --width-body: min(95vw, 1200px);
  --width-sidebar: 350px;
  --width-header-background: 15rem;
  --width-table-header: 115px;
}

/* define baseline attributes of the page */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 16px;
  font-family: var(--fnt-primary);
  max-width: var(--width-body);
  margin: 0 auto;
  overflow-x: hidden;
  color: var(--clr-primary-font);
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0 2rem 0;
  padding: 0.5rem;
  font-size: clamp(1.3em, 5vw, 1.7em);
}

ul {
  list-style-position: inside;
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header-backgroud {
  position: absolute;
  inset: 4rem 0 0 0;
  background-color: var(--clr-header-bar-background);
  z-index: -200;
  height: var(--width-header-background);
  width: 100vw;
}

/* ------------------------ */
/* Profile phot formatting  */
/* ------------------------ */
.profile-photo {
  position: relative;
  box-sizing: border-box;
  background-image: url('../img/profile\ photo.png');
  background-size: cover;
  background-position-x: 5px;
  --width-border: 20px;
  border: var(--width-border) solid var(--clr-darker-blue);
  border-radius: 10rem;
  --width-photo: 280px;
  width: var(--width-photo);
  /* centers photo above a sidebar */
  margin-inline: calc(
    (var(--width-sidebar) - var(--width-photo) - 1rem * 2) / 2
  );
  aspect-ratio: 1 / 1;

  box-shadow: 0 0 2rem var(--clr-dark-blue);
}

/* --------------------------- */
/* accent around profile photo */
/* --------------------------- */
.profile-photo svg {
  position: absolute;
  inset: calc(0px - var(--width-border)) 0 0 calc(0px - var(--width-border));
  width: var(--width-photo);
  aspect-ratio: 1 / 1;
  fill: transparent;
  stroke-width: calc(var(--width-border) / 2);
  border-radius: 20rem;
  stroke: var(--clr-accent);
  rotate: 180deg;
  stroke-dasharray: calc(3.14 * 280px * 0.8) 1000;
  stroke-linecap: round;
}

/* contact data links */
.contact-data a {
  display: flex;
  align-items: center;
  line-height: 2.5em;
}

/* enforce the size of all icons and use of the aria tag on icons */
.icon[aria-hidden='true'] {
  margin-right: 1em;
  height: 1.3em;
  aspect-ratio: 1 /1;
  border: 3px solid var(--clr-dark-blue);
  padding: 0.3em;
  border-radius: 1.3em;
}

/* set the font, and uppercase for headers h1-4 */
h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: var(--fnt-header);
  color: var(--clr-dark-blue);
}

h1 {
  color: var(--clr-darker-blue);
}

.name-text-color {
  color: var(--clr-accent);
  text-shadow: 0.05em 0.05em var(--clr-darker-blue);
}

/* underline for headers h2 */
h2 {
  position: relative;
  margin-bottom: 0.5rem;
}

main h2::after {
  position: absolute;
  top: 1.3em;
  left: 0;
  content: '';
  width: 3em;
  height: 0.2em;
  border-radius: 1em;
  background-color: var(--clr-accent);
}

main {
  display: grid;
  row-gap: 1rem;
}

/* force table to use all available space */
table {
  width: 100%;
}

table th {
  vertical-align: top;
  text-align: left;
  padding-right: 0.5em;
  font-weight: bold;
  width: var(--width-table-header);
}

header,
section {
  padding: 0.5rem;
}

.experience-header-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

footer {
  font-size: 0.8rem;
  font-style: italic;
  padding: 0.5rem;
}

.experience-container,
.sidebar-container {
  display: grid;
  row-gap: 1rem;
  align-items: start;
  align-content: flex-start;
}

.sidebar-backgroud {
  position: fixed;
  inset: 0 0 0 0;
  background-color: var(--clr-sidebar-background);
  z-index: -100;
  height: 100vh;
  width: calc(350px + (100vw - var(--width-body)) / 2);
}

/*--------------------------- */
/* RESPONSIVE specific stuff  */
/*--------------------------- */

main {
  grid-template:
    'sidebar profile-summary'
    'sidebar skills'
    'sidebar experience';
  grid-template-columns: var(--width-sidebar) 1fr;
  column-gap: 1rem;
}

.experience-container {
  grid-area: experience;
}

.sidebar-container {
  grid-area: sidebar;
}

.profile-summary {
  grid-area: profile-summary;
}

.skills {
  grid-area: skills;
}

.no-linebreak {
  white-space: nowrap;
}

@media screen and (max-width: 950px) {
  /* shift page elements into new slots */
  main {
    grid-template:
      'profile-summary'
      'sidebar'
      'skills'
      'experience';
    grid-template-columns: 1fr;
    column-gap: 0;
  }

  /* make sidebar background visible */
  :root {
    --clr-sidebar-background: transparent;
  }

  /* center blocks and contained text */
  header {
    justify-content: center;
  }

  .header-text {
    align-items: center;
    text-align: center;
  }

  .center-on-mobile {
    margin: 0 auto;
    text-align: center;
  }

  h1 {
    margin-top: 2rem;
    margin-inline: 2.5rem;
  }

  h2 {
    text-align: center;
  }

  /* center headers's underline */
  main h2::after {
    left: calc(50% - 1.5em);
  }
}

/*
  on smaller screens things start to come apart
  this is to prevent that and maintain some usability
*/
@media screen and (max-width: 375px) {
  body {
    min-width: 375px;
    overflow: auto;
  }
}
