.qr_code {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1rem;
  img {
    max-width: 19rem;
  }
  @media screen and (max-width: 60rem) {
    row-gap: 0;
    align-items: center;
    img {
      max-width: 16rem;
    }
  }
}
