/* ------------------- */
/* Printing properties */
/* ------------------- */

/* use scale 65% in Chrome */
@media print {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  /* e.g. will not break in a middle of experience block */
  section {
    page-break-inside: avoid;
  }

  /** Setting margins */
  @page {
    margin: 2cm;
  }

  /* Or: */
  @page :left {
    margin: 1cm;
  }

  @page :right {
    margin: 1cm;
  }

  /* remove  */
  .name-text-color {
    text-shadow: none;
    color: inherit;
  }

  .header-background {
    width: 100vw;
  }

  .nav {
    display: none;
  }

  .profile__footer {
    height: 120px;
    margin-left: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
