---
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import Navigation from '../../components/Navigation/Navigation.astro';
import Photo from './photo/photo.astro';
import Header from './Header.astro';
import '../../sass/index.scss';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
    <body class="body">
        <header class="profile__header">
          <Photo />
          <Header />
        </header>
        <main class="profile__cv_grid">
          <section class="profile__section profile-summary center_on_mobile">
            <h2 class="h2">Profile summary</h2>
            <p>
              Experienced Product Owner with a proven track record of delivering innovative digital solutions.
              Skilled in leading cross-functional teams, managing high-pressure, complex projects, and driving product strategy from inception to launch.
              Proven ability to manage large-scale digital transformations, optimize product performance, and ensure customer satisfaction.
              Possessing a deep understanding of Agile methodologies, user-centered design, and with hands-on experience working on projects in financial services area.
              Capable of rapidly onboarding and adapting to new organizational structures and technological environments.              
              Adept at translating business requirements into technical specifications and collaborating with development teams to deliver high-quality products.
            </p>
          </section>
          <div class="profile__sidebar__container">
            <section
              class="profile__section profile__contact_data center_on_mobile"
            >
              <h2 class="h2">Contact</h2>
              <a class="a a_animation" href="mailto:artur.jedrzejczak@gmail.com"
                ><img
                  src="/assets/cv/mail.svg"
                  alt="mail icon"
                  aria-hidden="true"
                  class="a__icon"
                />
                artur.jedrzejczak@gmail.com</a
              >
              <a class="a a_animation" href="tel:+48664289281"
                ><img
                  src="/assets/cv/phone.svg"
                  alt="phone icon"
                  aria-hidden="true"
                  class="a__icon"
                />
                +48 664 289 281</a
              >
              <address>
                <a
                  class="a a_animation"
                  href="https://duckduckgo.com/?q=pozna%C5%84&t=newext&atb=v347-1&ia=web&iaxm=about&iax=images"
                  target="_blank"
                >
                  <img
                    src="/assets/cv/pin.svg"
                    alt="pin icon"
                    class="a__icon"
                    aria-hidden="true"
                  />
                  Poznan, Poland
                </a>
              </address>
              <a
                class="a a_animation"
                href="https://www.linkedin.com/in/artur-jedrzejczak/"
                target="_blank"
                ><img
                  src="/assets/cv/linkedin-svgrepo-com.svg"
                  alt="github icon"
                  class="a__icon"
                  aria-hidden="true"
                />
                linkedin.com/in/artur-jedrzejczak</a
              >
            </section>
            <section class="profile__section skills">
              <h2 class="h2">Skills</h2>
              <table>
                <tr>
                  <th>Project skills</th>                  
                  <td>
                    Agile, Scrum, Waterfall,
                    <span class="no_wrap">Project Management</span>,
                    <span class="no_wrap">Portfolio Management</span>,
                    <span class="no_wrap">Business Process Analysis</span>,
                    <span class="no_wrap">Functional Testing</span>,
                    <span class="no_wrap">Performance Testing</span>,
                    <span class="no_wrap">Data Analysis</span>,
                    <span class="no_wrap">Requirements Analysis</span>, 
                    <span class="no_wrap">Data Science</span>, ETL, <span class="no_wrap">Data Migration</span>,
                    <span class="no_wrap">Data Quality</span>
                  </td>
                </tr>
                <tr>
                  <th>Soft skills</th>
                  <td>
                    Teamwork, Communication, Problem-solving,
                    Adaptability, Creativity, Leadership
                  </td>
                </ths>
                </tr>
                <tr>
                  <th>Frontend:</th>
                  <td>
                    JavaScript, TypeScript, HTML, CSS, SASS, React,
                    React Router, React Query, Redux Toolkit,
                    React Testing Library, React-i18next, Material UI,
                    Jest, Vitest, astro
                  </td>
                </tr>
                <tr>
                  <th>Backend:</th>
                  <td>Node.js, Express, Java, Spring Boot, Hibernate, C#</td>
                </tr>
                <tr>
                  <th>Databases:</th>
                  <td>Oracle DB, MS SQL Server, MySQL, SQLite</td>
                </tr>
                <tr>
                  <th>Tools:</th>
                  <td>Git, GitHub, Bitbucket, Jira, Confluence, DevTools, Postman, JMeter, MS Project</td>
                </tr>
                <tr>
                  <th>IDE:</th>
                  <td>Visual Studio Code, Atom, IntelliJ</td>
                </tr>
               
              </table>
            </section>
            <section class="profile__section education center_on_mobile">
              <h2 class="h2">Education</h2>
              <p>
                Poznań University of Economics<br />
                Master's Degree, Information Systems<br />
                [ 2004 - 2009 ]
              </p>
            </section>
            <section class="profile__section certification center_on_mobile">
              <h2 class="h2">Certification</h2>
              <ul class="ul_style_inside">
                <li>Agile Project Management</li>                
                <li>Project Management Professional (PMP)®</li>
                <li><span>Professional Scrum Master</span><span class="no_wrap">(PSM I)</span>
                </li>
                <li>PRINCE2 Practitioner</li>
                <li>Oracle DB SQL Certified Expert</li>
                <li>Oracle Certified Associate, Java SE 8 Programmer</li>
                <li>IBM Data Science Professional Certificate</li>
              </ul>
            </section>            
          </div>
          <div class="profile__experience__container">
            <section class="profile__section profile__experience">
              <h2 class="h2 center_on_mobile">Experience</h2>
              <div class="profile__experience__header_flex">
                <h3 class="h3">11/2022 - present</h3>
                <h3 class="h3">self employed</h3>
              </div>
              <table>
                          <tr>
                  <th>Project description:</th>
                  <td>
                    Building a web browser app with features focused on providing a complete view of real estate listings in Poland.
                    Currently, after usability testing and feedback from users, the app's UX is undergoing a touch up.
                    Legal documentation is in progress. With a planned release date of MVP early 2025.
                  </td>
                </tr>    
                <tr>
                  <th>Technologies:</th>
                  <td>Electron JS, Astro JS, TypeScript, React, Redux, Radix UI, Express JS, Firebase</td>
                </tr>
              </table>
            </section>
            <section class="profile__section profile__experience">      
              <div class="profile__experience__header_flex">
                <h3 class="h3">03/2023 - 12/2023</h3>
                <h3 class="h3">Rockin’iT sp. z o.o.</h3>
              </div>
              <table>
                <tr>
                  <th>Role:</th>
                  <td>Frontend Trainer (part-time)</td>
                </tr>
                <tr>
                  <th>Responsibilities:</th>
                  <td>
                    Teaching new technologies and best practices in frontend development, primarily React, TypeScript, JavaScript, Git, HTML, CSS.
                    Delivered over 250h of training sessions with live coding.
                  </td>
                </tr>    
              </table>
            </section>
            <section class="profile__section profile__experience">              
              <div class="profile__experience__header_flex">
                <h3 class="h3">01/2022 - 10/2022</h3>
                <h3 class="h3">Principal Consultant at Capco Poland Sp. z o.o.</h3>
              </div>
              <table>
                <tr>
                  <th>Project:</th>
                  <td>Global Transformation Lead for HSBC Wholesale Client Services</td>
                </tr>
                <tr>
                  <th>Responsibilities:</th>
                  <td>                     
                    <ul>
                      <li>Led large-scale digital transformation initiatives across multiple regions around the globe. Budget over 100M USD</li>
                      <li>Collaborated with cross-functional teams to ensure effective communication and coordination.</li>
                      <li>Developed a comprehensive roadmap for 2023, aligning strategic goals with operational execution.</li>
                    </ul>
                  </td>
                </tr>   
                <tr>
                  <th>Context:</th>
                  <td>HSBC Commercial Banking provides international financial services solutions that support businesses ranging from large corporates to mid-market enterprises in a variety of industry sectors all over the world.</td>
                  </tr> 
              </table>
            </section>
            <section class="profile__section profile__experience">              
              <div class="profile__experience__header_flex">
                <h3 class="h3">10/2021 - 12/2021</h3>
                <h3 class="h3">Principal Consultant at Capco Poland Sp. z o.o.</h3>
              </div>
              <table>
                <tr>
                  <th>Project:</th>
                  <td>Establishing a Production Engineering team for HSBC Payments Orchestration Layer that operates in a modern, engineering driven, SRE-like manner</td>
                </tr>
                <tr>
                  <th>Responsibilities:</th>
                  <td>                     
                    <ul>
                      <li>Collaborated with development teams to understand the current software development lifecycle (SDLC) and identify areas for improvement.</li>
                      <li>Provided technical guidance and support to development teams to ensure adherence to best practices and standards.</li>
                      <li>Identified and addressed technical challenges that hindered the implementation of new solutions.</li>
                      <li>Worked closely with a Global Head of Payments to define a clear vision and establish a framework for change.</li>
                    </ul>
                  </td>
                </tr>    
              </table>
            </section>
            <section class="profile__section profile__experience">              
              <div class="profile__experience__header_flex">
                <h3 class="h3">10/2020 - 09/2021</h3>
                <h3 class="h3">Principal Consultant at Capco Poland Sp. z o.o.</h3>
              </div>
              <table>
                <tr>
                  <th>Project:</th>
                  <td>Portfolio management of UHNW for HSBC Private Bank Switzerland</td>
                </tr>
                <tr>
                  <th>Responsibilities:</th>
                  <td>                     
                    <ul>
                      <li>Developed and documented As-Is and To-Be business processes to facilitate the transition to the new operating model.</li>
                      <li>Defined necessary IT changes to support the new processes and systems.</li>
                      <li>Managed the go-live cutover plan to minimize disruption and maximize system uptime.</li>
                      <li>Developed and implemented a comprehensive testing strategy to ensure the quality and reliability of the new systems.</li>
                    </ul>

                  </td>
                </tr>    
              </table>
            </section>
            <section class="profile__section profile__experience">
              <div class="profile__experience__header_flex">
                <h3 class="h3">06/2017 - 10/2019</h3>
                <h3 class="h3">Project Manger at Capco Poland Sp. z o.o.</h3>
              </div>
              <table>
                <tr>
                  <th>Project:</th>
                  <td>New internet banking for BNP Paribas Polska</td>
                </tr>
                <tr>
                  <th>Responsibilities:</th>
                  <td>                    
                    <ul>
                      <li>Played a key role in establishing a new Capco office in Poland and built a development team from the ground up.</li>
                      <li>Managed a team of 50+ developers, testers, and scrum masters.</li>
                      <li>Successfully secured and delivered an omni-channel transformation program for BNP Paribas, Poland. This project involved building a new micro-services layer deployed to the in-house cloud, a new internet banking platform, and back-office platform.</li>
                      <li>Collaborated with cross-functional teams (bank's Product Owner, development, design, testing) to ensure successful project delivery.</li>
                      <li>For added complexity project was taking place during merger with another bank.</li>
                      <li>Wrote a migration engine for Identity Management System.</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <th>Technologies:</th>
                  <td>Oracle SQL, Java, Spring Boot, Hibernate, JMeter</td>
                </tr>
              </table>
            </section>
            <section class="profile__section profile__experience">
              <div class="profile__experience__header_flex">
                <h3 class="h3">11/2015 - 02/2017</h3>
                <h3 class="h3">Consultant at Accenture sp. z o.o.</h3>
              </div>
              <table>
                <tr>
                  <th>Project:</th>
                  <td>
                    Building a new Digital Bank in France for La Banque Postale
                    based on mBank.
                  </td>
                </tr>
                <tr>
                  <th>Responsibilities:</th>
                  <td>
                    <ul>
                      <li>Defined the strategic vision for a new digital bank in the payments and cards domain.</li>
                      <li>Conducted a comprehensive gap analysis to identify areas for improvement <span class="no_wrap">and innovation.</span></li>
                      <li>Developed a detailed business blueprint aligned with French regulatory requirements and market best practices.</li>
                      <li>Oversaw the financial management of projects estimates and budgets exceeding 10M EUR.</li>
                    </ul>                  
                  </td>
                </tr>
              </table>
            </section>
            <section class="profile__section profile__experience">
              <div class="profile__experience__header_flex">
                <h3 class="h3">01/2015 - 07/2015</h3>
                <h3 class="h3">Consultant at Accenture sp. z o.o.</h3>
              </div>
              <table>
                <tr>
                  <th>Project:</th>
                  <td>Post-merger integration for mBank and BRE Bank</td>
                </tr>
                <tr>
                  <th>Responsibilities:</th>
                  <td>
                    <ul>
                      <li>As a member of Go-Live team Worked on preparation of a high-level migration approach, reconciliation approach, go-live activities.</li>
                      <li>Identified and addressed potential migration impacts by building a detailed application landscape across IT departments, this prevented hundreds of cascading failures during go-live.</li>
                      <li>As a member of the migration engine development team conducted a comprehensive audit of the migration engine to identify potential issues and improvement opportunities. Leveraged technical expertise in C# and MS SQL Server to optimize the migration engine's functionality.</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <th>Technologies:</th>
                  <td>C#, MS SQL Server, MS Project, SharePoint</td>
                </tr>
              </table>
            </section>
            <section class="profile__section profile__experience">
              <div class="profile__experience__header_flex">
                <h3 class="h3">03/2013 - 12/2014</h3>
                <h3 class="h3">Consultant at Accenture sp. z o.o.</h3>
              </div>
              <table>
                <tr>
                  <th>Project:</th>
                  <td>
                    Post-merger integration for Santander Bank Polska and Kredyt
                    Bank
                  </td>
                </tr>
                <tr>
                  <th>Responsibilities:</th>
                  <td>                 
                  <ul>
                    <li>As a Development Lead was in charge of implementation of migration engine in Loans area.</li>
                    <li>Led the definition and prioritization of product backlog for the migration engine in the Loans area.</li>
                    <li>Managed stakeholder expectations and communicated effectively with cross-functional teams.</li>
                    <li>Architected data anonymization functionality to ensure data privacy and security.</li>
                  </ul>
                  </td>
                </tr>
                <tr>
                  <th>Technologies:</th>
                  <td>Ab Initio (ETL), MySQL</td>
                </tr>
              </table>
            </section>
            <section class="profile__section profile__experience">
              <div class="profile__experience__header_flex">
                <h3 class="h3">12/2010 - 11/2013</h3>
                <h3 class="h3">ANALYST AT Accenture Sp. z o.o.</h3>
              </div>
              <table>
                <tr>
                  <th>Project:</th>
                  <td>Flexcube Core Banking system implementation for DNB Nord</td>
                </tr>
                <tr>
                  <th>Responsibilities:</th>
                  <td>        
                  <ul>
                    <li>Implemented automated OCR test data preparation framework.</li>
                    <li>Created management reporting tools for the project that allowed the project to get out of deadlock of thousands of defects.</li>
                    <li>Led operational reports team in the loans area.</li>
                    <li>Developed migration reconciliation reports for corporate loans.</li>
                  </ul>
                  </td>
                </tr>
                <tr>
                  <th>Project in numbers:</th>
                  <td>500+ people, 40+ vendors, 25+ nationalities</td>
                </tr>
              </table>
            </section>
            <section class="profile__section profile__experience">
              <div class="profile__experience__header_flex">
                <h3 class="h3">08/2008 - 11/2010</h3>
                <h3 class="h3">DEVELOPMENT SPECIALIST AT BZ WBK s.a.</h3>
              </div>
              <table>
                <tr>
                  <th>Project:</th>
                  <td>Transfer Agent implementation for Arka Investment Funds</td>
                </tr>
                <tr>
                  <th>Responsibilities:</th>
                  <td>       
                  <ul>
                    <li>Leveraged technical expertise to translate business requirements into actionable product features and specifications of a new system.</li>
                    <li>Implemented reconciliation reporting, and business reports.</li>
                    <li>Prepared and executed performance tests before go-live.</li>
                    <li>Introduced production support process and automated checks to prevent or catch production errors within SLA's.</li>
                    <li>Analyzed user feedback to identify opportunities for product improvement and future releases.</li>
                  </ul>
                  </td>
                </tr>
                <tr>
                  <th>Technologies:</th>
                  <td>Oracle, Business Objects, MS Access, Visual Basic</td>
                </tr>
              </table>
            </section>
          </div>
          <div class="profile__sidebar_background"></div>
        </main>
        <footer class="profile__footer">
          <blockquote>
            <small>
              Wyrażam zgodę na przetwarzanie moich danych osobowych dla potrzeb
              niezbędnych do realizacji procesu rekrutacji (zgodnie z ustawą z dnia
              10 maja 2018 roku o ochronie danych osobowych (Dz. Ustaw z 2018, poz.
              1000) oraz zgodnie z Rozporządzeniem Parlamentu Europejskiego i Rady
              (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób
              fizycznych w związku z przetwarzaniem danych osobowych i w sprawie
              swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE
              (RODO).
            </small>
          </blockquote>
          <!-- <blockquote>
            <small
              >Wyrażam zgodę na przetwarzanie moich danych osobowych w zakresie
              przyszłych procesów rekrutacyjnych.</small
            >
          </blockquote> -->
        </footer>
</html>