---
interface Props {
  tag: string;
}
const { tag } = Astro.props;
---

<span class="tag">
  <span class="tag__text">{tag}</span>
  <span class="close">
    <img
      class="tag__img"
      width="16"
      height="16"
      src="assets/portfolio/close.svg"
      alt="close"
    />
  </span>
</span>

<style is:global>
  .tag {
    background-color: var(--clr-bg-secondary);
    color: var(--clr-font-secondary);
    border: 0.1rem solid grey;
    cursor: pointer;
    transition: 300ms;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    overflow: hidden;
  }
  .tag__text {
    white-space: nowrap;
    flex-grow: 1;
    padding-block: 0.4rem 0.2rem;
    padding-inline: 0.5rem;
  }

  .tag:hover {
    filter: var(--theme-filter);
  }

  .close {
    display: none;
    background-color: var(--clr-bg-primary);
    height: 100%;
    flex-grow: 0;
    padding-inline: 0.4rem;
  }

  .tag__img {
    filter: var(--theme-filter-inverted);
  }

  .tag__active .close {
    display: flex;
    align-items: center;
  }
</style>
