<section class="hero">
    <span class="hero__description">
    <h1>Welcome to my FE portfolio!</h1>
    <p>Are you looking for a skilled and creative frontend developer to bring your digital projects to life? Please take a moment to browse through my portfolio, where you'll find a collection of my past projects that showcase my versatility and attention to detail.  My creative process is centered around collaboration and effective communication. I believe in listening attentively to your requirements and goals, and working closely with you to develop a tailored solution that aligns with your brand identity and exceeds your expectations. 
    </p>
    </span>
    <img class="hero__img" src="/assets/landing/hero_2.png" />
</section>

<style>

    .hero {
        padding-block: 2rem;
        position: relative;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto;
        row-gap: 1rem;
        align-items: center;
        justify-content: center;		
        justify-items: center;
        color: white;
    }
    .hero::after {
        content: '';
        position: absolute;
        z-index: -1;
        inset: 0;
        width: 100%;
        background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    ;
        transform: skewY(-2.5deg);
    }
    
    .hero__description{
        height: min-content;
        max-width: 24rem;
        
    }
    .hero__img {
        max-width: 16rem;
    }
    
    @media (min-width: 900px) {
        .hero {
            grid-template-columns: 1fr 1fr;
            column-gap: 4rem;
            row-gap: 0;
        }
        .hero__description {
            max-width: min(40vw, 40rem);
            justify-self: end;
        }
        .hero__img {
            display: block;
            max-width: 24rem;
            justify-self: left;
        }
    }
    </style>