---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import Navigation from '../../components/Navigation.astro';


---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="body portfolio">
        <header class="header portfolio__header">
          <Navigation />
          <h1 class="h1">Portfolio of sharable projects</h1>
        </header>
        <main class="portfolio__main">
          <div class="grid">
            <button type="menu" class="grid__item">
              <div class="grid__item_clip">
                <picture>
                  <source srcset="/assets/portfolio/fm-password.webp" type="image/webp" />
                  <img
                    class="grid__item__img"
                    src="/assets/portfolio/fm-password.png"
                    alt="password generator"
                  />
                </picture>
                <h2 class="h2 grid__item__h2">2023</h2>
              </div>
              <a
                href="https://frontendmentor-password-generator-two.vercel.app/"
                target="_blank"
                class="grid__item__live_site"
                >Live site</a
              >
              <a
                href="https://github.com/aratur/frontendmentor-password-generator"
                target="_blank"
                class="grid__item__repository"
                >Repository</a
              >
              <ul class="tiles">
                <li class="tiles__tile">React</li>
                <li class="tiles__tile">TypeScript</li>
                <li class="tiles__tile">Material UI</li>
                <li class="tiles__tile">SASS/SCSS</li>
                <li class="tiles__tile">Vite & Vitest</li>
              </ul>
            </button>
            <button type="menu" class="grid__item">
              <div class="grid__item_clip">
                <picture>
                  <source srcset="/assets/portfolio/four-in-a-row.webp" type="image/webp" />
                  <img
                    class="grid__item__img"
                    src="/assets/portfolio/four-in-a-row.png"
                    alt="four in a row"
                  />
                </picture>
                <h2 class="h2 grid__item__h2">2023</h2>
              </div>
              <a
                href="https://frontend-mentor-connect-four.vercel.app/"
                target="_blank"
                class="grid__item__live_site"
                >Live site</a
              >
              <a
                href="https://github.com/aratur/frontend-mentor-connect-four"
                target="_blank"
                class="grid__item__repository"
                >Repository</a
              >
              <ul class="tiles">
                <li class="tiles__tile">React</li>
                <li class="tiles__tile">TypeScript</li>
                <li class="tiles__tile">React Router</li>
                <li class="tiles__tile">SASS/SCSS</li>
                <li class="tiles__tile">Vite</li>
              </ul>
            </button>
            <button type="menu" class="grid__item">
              <div class="grid__item_clip">
                <picture>
                  <source srcset="/assets/portfolio/fm-multipage.webp" type="image/webp" />
                  <img
                    class="grid__item__img"
                    src="/assets/portfolio/fm-multipage.png"
                    alt="multi-page"
                  />
                </picture>
                <h2 class="h2 grid__item__h2">2023</h2>
              </div>
              <a
                href="https://frontendmentor-payapi-multi-page-website.vercel.app/"
                target="_blank"
                class="grid__item__live_site"
                >Live site</a
              >
              <a
                href="https://github.com/aratur/frontendmentor-payapi-multi-page-website"
                target="_blank"
                class="grid__item__repository"
                >Repository</a
              >
              <ul class="tiles">
                <li class="tiles__tile">React</li>
                <li class="tiles__tile">TypeScript</li>
                <li class="tiles__tile">React Router</li>
                <li class="tiles__tile">SASS/SCSS</li>
                <li class="tiles__tile">Custom Components</li>
              </ul>
            </button>
            <button type="menu" class="grid__item">
              <div class="grid__item_clip">
                <picture>
                  <source srcset="/assets/portfolio/fm-job-list.webp" type="image/webp" />
                  <img
                    class="grid__item__img"
                    src="/assets/portfolio/fm-job-list.png"
                    alt="job listing"
                  />
                </picture>
                <h2 class="h2 grid__item__h2">2023</h2>
              </div>
              <a
                href="https://frontendmentor-job-listing-with-filtering.vercel.app/"
                target="_blank"
                class="grid__item__live_site"
                >Live site</a
              >
              <a
                href="https://github.com/aratur/frontendmentor-job-listing-with-filtering"
                target="_blank"
                class="grid__item__repository"
                >Repository</a
              >
              <ul class="tiles">
                <li class="tiles__tile">React</li>
                <li class="tiles__tile">TypeScript</li>
                <li class="tiles__tile">Testing Library</li>
                <li class="tiles__tile">SASS/SCSS</li>
              </ul>
            </button>
            <button type="menu" class="grid__item">
              <div class="grid__item_clip">
                <picture>
                  <source srcset="/assets/portfolio/fm-landing.webp" type="image/webp" />
                  <img
                    class="grid__item__img"
                    src="/assets/portfolio/fm-landing.png"
                    alt="landing page"
                  />
                </picture>
                <h2 class="h2 grid__item__h2">2022</h2>
              </div>
              <a
                href="https://frontend-mentor-landing-page-nine.vercel.app/"
                target="_blank"
                class="grid__item__live_site"
                >Live site</a
              >
              <a
                href="https://github.com/aratur/frontend-mentor-landing-page"
                target="_blank"
                class="grid__item__repository"
                >Repository</a
              >
              <ul class="tiles">
                <li class="tiles__tile">HTML</li>
                <li class="tiles__tile">CSS</li>
                <li class="tiles__tile">no JS</li>
                <li class="tiles__tile">Responsive</li>
              </ul>
            </button>
            <button type="menu" class="grid__item">
              <div class="grid__item_clip">
                <picture>
                  <source srcset="/assets/portfolio/mario.webp" type="image/webp" />
                  <img class="grid__item__img" src="/assets/portfolio/mario.png" alt="mario" />
                </picture>
                <h2 class="h2 grid__item__h2">2021</h2>
              </div>
              <a
                href="https://mario-snake.vercel.app/"
                target="_blank"
                class="grid__item__live_site"
                >Live site</a
              >
              <a
                href="https://github.com/aratur/mario-snake"
                target="_blank"
                class="grid__item__repository"
                >Repository</a
              >
              <ul class="tiles">
                <li class="tiles__tile">React</li>
                <li class="tiles__tile">Redux Toolkit</li>
                <li class="tiles__tile">Redux thunk</li>
                <li class="tiles__tile">TypeScript</li>
                <li class="tiles__tile">W3.CSS</li>
              </ul>
            </button>
            <button type="menu" class="grid__item">
              <div class="grid__item_clip">
                <picture>
                  <source srcset="/assets/portfolio/multiplication.webp" type="image/webp" />
                  <img
                    class="grid__item__img"
                    src="/assets/portfolio/multiplication.png"
                    alt="multiplication"
                  />
                </picture>
                <h2 class="h2 grid__item__h2">2021</h2>
              </div>
              <a
                href="https://multiplication.vercel.app/"
                target="_blank"
                class="grid__item__live_site"
                >Live site</a
              >
              <a
                href="https://github.com/aratur/multiplication"
                target="_blank"
                class="grid__item__repository"
                >Repository</a
              >
              <ul class="tiles">
                <li class="tiles__tile">React</li>
                <li class="tiles__tile">React Router</li>
                <li class="tiles__tile">Redux Toolkit</li>
                <li class="tiles__tile">Testing Library</li>
                <li class="tiles__tile">Custom i18n</li>
                <li class="tiles__tile">Java Script</li>
                <li class="tiles__tile">Bootstrap v3</li>
              </ul>
            </button>
          </div>
        </main>
        <Footer />
      </body>
</html>
